<footer>
    <div>
        <a class="instagram" href="https://www.instagram.com/kagliari.clothes/">
            <img id = "insta_icon" src="/images/icons/Instagram.png">
            <p class="instagramP">kagliari.clothes</p>
        </a>
    </div>
        
    <div class="segundo_div">
        <p>Kagliari Clothes <img src="/images/icons/Cc.png"> 2021</p>
        <p>Find your style</p>
    </div>

    <div class="tercer_div">
        <p>kagliari.clothes@gmail.com</p>
        <p>+54 9 11 3619-1069</p>
    </div>

</footer>