<!DOCTYPE html>
<html>
  <head>
    <title>Broken Youth | Como Comprar </title>
    <%- include('./partials/head.ejs')%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <body>
        <%- include("./partials/header") %>

        <main id="quienes-somos-main">
            <div id = "destacados-comoComprar"> COMO COMPRAR? </div>
            <div id="como-comprar">
                <ol>
                    <li class="compra-pasos">1. Iniciá sesión y/o registrate para poder activar tu carrito de compras.  </li>
                    <li class="compra-pasos">2. Andá a "Productos" y elegí los productos que más te gusten. </li>
                    <li class="compra-pasos">3. Para elegir uno, clickeá en su foto. Esto te va a llevar al detalle de este producto. Una vez ahí, elegí el talle y la cantidad y clickeá "Agregar".</li>
                    <li class="compra-pasos">4. Una vez que tengas seleccionados los productos que quieras, clickeá el icono del carrito de compras arriba a la derecha. Esto te va a llevar a tu carrito.</li>
                    <li class="compra-pasos">5. En el carrito podés revisar los productos y cantidades que elegiste. Para borrar algún producto de tu carrito, clickeá el icono de tacho de basura a la derecha.</li>
                    <li class="compra-pasos">6. Cuando hayas terminado de elegir, clickeá "Finalizar Compra"</li>
                </ol>
            </div>
        </main>
        
        

        <%- include("./partials/footer") %>

    </body>
</html>