<!DOCTYPE html>
<html>
  <head>
    <title>Broken Youth | Sobre Nosotros</title>
    <%- include('./partials/head.ejs')%>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

    <body>
        <%- include("./partials/header") %>

        <main id="quienes-somos-main">
            <div id = "destacados"> SOBRE NOSOTROS </div>
            <article>
                <p>Somos una marca de ropa streetwear con base en Buenos Aires. Nuestra ropa es exclusiva y nuestros diseños son autenticos.</p>
            </article> 
        </main>
        

        <%- include("./partials/footer") %>

    </body>
</html>