main{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.divder{
    margin-top: 21%;
    width: 50%;
}
.divizq{
    width: 50%;
    margin-top: 10%;
}

.div1{
    margin-top: 23px;
}
.datos{
    font-size: 20px;
    font-weight: 600;
}

.div2{
    text-align: center;
    margin-top: 10%;
}
.img2{
    width: 80px;
    height: 80px;
}

.div3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

.div4{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


i{
    display: none;
}

select{
    border: none;
    height: 31.2px;
    margin: 0px 6px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

select:focus{
    outline: none;
}

label{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    padding: 10px
}

@media(max-width: 768px){
    .divder{
        margin-top: 30%;
    }
}

@media(min-width: 1440px){
    .divder{
        margin-top: 15%;
    }
}